/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c5c5c5; /* Alterado para combinar com a cor da página inicial */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}

h2, h1 {
    color: #004d80; /* Cor para os títulos */
    margin-top: 30px;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

#searchInput {
    width: 80%;
    max-width: 600px;
    padding: 12px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    max-width: 150px;
    background-color: #004d80;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding: 12px;
    white-space: nowrap;
}

td {
    max-width: 130px;
    padding: 12px;
    text-align: center;
    min-width: 10px;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0e0e0;
    color: #000;
}

.table-container {

    max-width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

p#description-info {
    text-align: center;
    font-size: 14px;
    color: #353c42;
    margin: 10px 0 20px 0;
    border: none!important;
    background-color: none!important;
}
p#description-warning {
    text-align: center;
    font-size: 14px;
    color: #ff0000;
    margin: 10px 0 20px 0;
    border: none!important;
    background-color: none!important;
}

.product-details, .recommendation {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product-details {
    font-size: 16px;
    line-height: 1.8;
    margin: 12px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f9fa;
}
.details {
    font-size: 16px;
    line-height: 1.8;
    margin: 12px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #e3e3e4;
}

.product-details p#product-abrasive {
    font-weight: bold;
    color: #dc3545;
}

.product-details p#product-viscosity {
    font-style: italic;
    color: #17a2b8;
}

.recommendation {
    background-color: #f1f4f9;
}

.pump-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.pump-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.pump-card h4 {
    margin: 0 0 15px 0;
    color: #343a40;
    font-size: 20px;
}

.pump-card p {
    margin: 8px 0;
    color: #6c757d;
}

.back-button {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.back-button:hover {
    background-color: #003d7a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.back-button::before {
    content: "←";
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    text-align: center;
}

/* Estilos para a tela de carregamento */
#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-size: 18px;
    color: #333;
    transition: opacity 0.3s ease;
}

#loadingScreen.hidden {
    opacity: 0;
    pointer-events: none;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #004d80; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a {
    color: #004d80;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
}

/* Adiciona estilo para filtros */
.filter-section {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.filter-section label {
    margin-right: 10px;
}

.filter-section input,
.filter-section select {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.filter-section button {
    background-color: #004d80;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-section button:hover {
    background-color: #003d7a;
}

